.menu-container {
  max-width: 250px;
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: var(--color-bg);
  border-radius: 16px;
}

.menu-title {
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;

  text-transform: uppercase;
}

.loader-container {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}
