::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg-secondary);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-bg);
  border-radius: 5px;
  border: 2px solid var(--color-text-dark);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #a0a0a0 #f1f1f1;
}
