:root {
  --color-bg: #313e62;
  --color-bg-light: #ffffff;
  --color-bg-secondary: #9ca3af;
  --color-container-bg: #0e0c15;

  --color-list-item-selected: #38a95a;
  --color-list-item-hovered: #749f81;

  --color-input-bg: #121825;
  --color-input-border: #313e62;
  --color-input-border-focus: #4285f4;

  --color-border-dark: #000000;

  --color-text-primary: #ffffff;
  --color-text-secondary: #9ca3af;
  --color-text-button: white;
  --color-text-dark: #0e0c15;

  --color-button-main: #1c64f2;
  --color-button-success: #2ac376;
  --color-button-danger: #d22b2b;
  --color-button-warning: #e8e858;

  --shadow-container: 0 4px 12px rgba(0, 0, 0, 0.1);
  --shadow-input-focus: 0 0 0 2px rgba(66, 133, 244, 0.2);
}

* {
  font-family: "Roboto", sans-serif;
}

.button {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 10px;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;

  color: var(--color-text-primary);
  background-color: var(--color-button-main);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  transition: color 0.2s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.button--success {
  background: var(--color-button-success);
}

.button--danger {
  background: var(--color-button-danger);
}

.button--warning {
  background: var(--color-button-warning);
}

.button:hover {
  color: var(--color-text-dark);
}

.button:disabled {
  cursor: not-allowed;
}

.text-dark {
  color: var(--color-text-dark);
}

.main-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 20px;
  padding: 20px;

  background: var(--color-container-bg);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg-secondary);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-bg);
  border-radius: 5px;
  border: 2px solid var(--color-text-dark);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #a0a0a0 #f1f1f1;
}

.hidden {
  display: none;
}
